# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment-specific files
.env

# Ignore TypeScript configuration files
tsconfig.json
tsconfig.*.json

# Ignore editor and OS files
.vscode/
.DS_Store
Thumbs.db

# Ignore npm debug log
npm-debug.log

# Ignore bin
bin/

# Ignore view
view/

# Ignore public
public/
